body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.span-color {
    color: dodgerblue;
}

.paragraph {
    text-align: justify;

}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;

}

.button-set {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
}

.bottop-section {
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}